<p style="color: green"><%= notice %></p>
<%= render @product %>
<div>
  <% if user_signed_in? && current_user.admin %>
    <%= link_to "Edit this product", edit_product_path(@product) %> |
    <%= button_to "Destroy this product", @product, method: :delete %>
  <%end%>
  <%= link_to "Back to products", products_path %>
</div>
<% if user_signed_in? %>
  <% @product.comments.each do |comment| %>
    <%= comment.user.name%>
    <p> <%= comment.text %> </p>
  <% end %>
  <%= render  "comments/new" %>
<% end %>
