  <%= link_to "back", products_path %>
<div class="container product-show mb-3">
  <%= render @product %>
</div>
<div>
  <% if user_signed_in? && current_user.admin %>
    <div class="edit-btn container p-2 btn-group">
      <%= link_to "Edit this product", edit_product_path(@product), class:"btn btn-warning"%>
      <%= button_to "Delete this product", @product, method: :delete, class:"btn btn-danger" %>
    </div>
  <%end%>
</div>
<div class="container">
  <%= render  "comments/form", product: @product %>
  <% @comments.each do |comment| %>
    <div>
      <%= render  "comments/comment", comment: comment %>
    </div>
  <% end %>
</div>
